<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Datta Able</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                {% for app, models in models.items %}
                    {% if models|length > 1 %}
                        <li class="nav-item pcoded-hasmenu">
                            <a href="javascript:" class="nav-link">
                                <span class="pcoded-micon"><i class="feather icon-folder"></i></span>
                                <span class="pcoded-mtext">{{ app }}</span>
                            </a>
                            <ul class="pcoded-submenu">
                                {% for model_name, model_url in models %}
                                    <li class=""><a href="{% url model_url %}" class="">{{ model_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        {% for model_name, model_url in models %}
                            <li class="nav-item">
                                <a href="{% url model_url %}" class="nav-link">
                                    <span class="pcoded-micon"><i class="feather icon-file"></i></span>
                                    <span class="pcoded-mtext">{{ model_name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <li class="nav-item pcoded-menu-caption">
                    <label>More Resources</label>
                </li>                    
                <li data-username="Support Page" class="nav-item ">
                    <a target="_blank" href="https://appseed.us/support" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Support</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
