container_commands:
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  03_metamodel:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py update_config"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ERP-Template.settings