{% extends "base.html" %}

{% block title %}My Model Detail{% endblock %}

{% block content %}
    <h1>{% block detail_title %}My Model Detail{% endblock %}</h1>
    {% block detail_table %}
        <table class="table table-bordered">
            {% block detail_rows %}
                <tr>
                    <th>ID</th>
                    <td>{{ object.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ object.name }}</td>
                </tr>
                <!-- Add more fields as needed -->
            {% endblock %}
        </table>
    {% endblock %}
    <a href="{% url 'mymodel-update' object.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'mymodel-list' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}
