{% extends 'base.html' %}
{% block content %}
{% load filters %}

<!-- Override the textboxes to always have black text -->
<style>
    input, select, textarea {
        color: black;
    }
</style>

<div >
    <form >
        {% csrf_token %}
        {{ form }}

        <!-- Inline Formsets -->
        {% for inline_formset in inline_formsets %}
            <fieldset >
                {{ inline_formset.management_form }}
                {% for form in inline_formset %}
                    <div >
                        {{ form }}
                        <button type="button" >Remove</button>
                    </div>
                {% endfor %}
                <button type="button" >Add another</button>
            </fieldset>
        {% endfor %}

        <button type="submit" >
            Submit
        </button>
    </form>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const addBtn = document.getElementById('add-form-btn');
        const formsetContainer = document.getElementById('formset-container');
        const totalForms = document.getElementById('id_{{ inline_formset.prefix }}-TOTAL_FORMS');

        // Function to update the form index of each form in the formset
        const updateFormIndexes = () => {
            const forms = formsetContainer.querySelectorAll('.inline-form');
            forms.forEach((form, index) => {
                Array.from(form.querySelectorAll('input, select, textarea, label')).forEach((element) => {
                    const name = element.getAttribute('name');
                    const id = element.getAttribute('id');
                    const forAttribute = element.getAttribute('for');
                    if (name) element.setAttribute('name', name.replace(/-\d+-/, `-${index}-`));
                    if (id) element.setAttribute('id', id.replace(/-\d+-/, `-${index}-`));
                    if (forAttribute) element.setAttribute('for', forAttribute.replace(/-\d+-/, `-${index}-`));
                });
            });
        };

        // Add form
        addBtn.addEventListener('click', () => {
            const newForm = formsetContainer.querySelector('.inline-form').cloneNode(true);
            const formRegex = RegExp(`-${totalForms.value}-`, 'g');
            
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `-${parseInt(totalForms.value)}-`);
            formsetContainer.insertBefore(newForm, addBtn);

            totalForms.setAttribute('value', `${parseInt(totalForms.value) + 1}`);
            updateFormIndexes();
        });

        // Remove form
        formsetContainer.addEventListener('click', (e) => {
            if (e.target.classList.contains('remove-form-btn')) {
                e.target.closest('.inline-form').remove();
                totalForms.setAttribute('value', `${parseInt(totalForms.value) - 1}`);
                updateFormIndexes();
            }
        });
    });
</script>
{% endblock %}