{% extends 'base.html' %}
{% block content %}
    <div class="bg-white dark:bg-gray-900 w-4/5 text-black dark:text-white">
        <div class="p-4"> 
            <h1 class="dark:text-white font-bold mb-4 text-3xl text-black">Welcome to our website</h1> 
            <p class="dark:text-white mb-4 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam at volutpat ultricies, nulla ipsum imperdiet massa, nec ullamcorper nibh est id enim. Sed non risus.</p> <a href="#" class="bg-blue-500 dark:text-white font-bold hover:bg-blue-700 px-4 py-2 rounded text-white">Learn More</a> 
        </div>
    </div>
    <script src="templating.js"></script>
    {% endblock %}