{% extends 'base.html' %}
{% block content %}
<div > 
    <div >
        <h1 >Customer Database Log</h1>
        <h1 ></h1>
        <table >
            <thead>
                <tr>
                    <th data-pg-class-style="text" data-pg-class-style-inline="px-4 py-2" >timestamp</th>
                    <th >message</th>
                </tr>
            </thead>
            <tbody>
                {% for log in object_list %}
                <tr>
                    <td >{{ log.created_at }}</td>
                    <td >{{ log.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="templating.js"></script>
{% endblock %}