{% extends "base.html" %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
    <h1>{% block confirm_delete_title %}Confirm Delete{% endblock %}</h1>
    <p>{% block confirm_delete_message %}Are you sure you want to delete "{{ object }}"?{% endblock %}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% block confirm_delete_button_text %}Yes, delete{% endblock %}</button>
        <a href="{% url return_url %}" class="btn btn-secondary">{% block cancel_button_text %}Cancel{% endblock %}</a>
    </form>
{% endblock %}
